@(message: String)

@Main("Firefox") {
    <div class="container">
        <div class="well well-sm">
            <h1>A history of FireFox</h1>
            <img class="pageimg" src="http://upload.wikimedia.org/wikipedia/commons/f/ff/Mozilla_Firefox_logo_2013.png" width="100">

            <p>The project which became Firefox started as an experimental branch of the Mozilla Suite called m/b (or
                mozilla/browser). After it had been sufficiently developed, binaries for public testing appeared in September 2002
                under the name Phoenix.</p>

            <p><a href="https://www.mozilla.org/en-US/firefox/23.0/releasenotes/">Firefox 23</a>
                was released on August 6, 2013.
                It
                includes an updated Firefox logo, mixed content blocking enabled by default to defend against man-in-the-middle
                attacks, implementation of the range form control attribute in HTML5, dropping support for the blink HTML element
                as
                well as text-decoration:blink CSS element, the restriction to have to "switch to a different search provider
                across
                the entire browser," and a global browser console, a new network monitor among other things.</p>

        </div>
    </div>
}